@page "/chartdisplay"
<h1>Child Support Chart</h1>

<table class="table table-light">
    <thead class="table-primary">
        <tr>
        
            <th></th>
            <th>Primary Custodian</th>
            <th>Secondary Custodian</th>
            <th>Combined/Obligation</th>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>